html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins";
}
